<h1>第５章！！！ </h1>
<form #myForm="ngForm" (ngSubmit)="show()" novalidate>
    <div>
        <label for="mail">メールアドレス：</label><br />
        <input 
            id="mail" 
            name="mail" 
            type="email" 
            [(ngModel)]="user.mail" 
            #mail="ngModel" 
            required email />
        <span *ngIf="mail.errors?.required">
            メールアドレスは必須です
        </span>
        <span *ngIf="mail.errors?.email">
            メールアドレスを正しい形式で入力してください
        </span>
    </div>

    <div>
        <label for="passwd">パスワード：</label><br />
        <input 
            id="passwd" 
            name="passwd" 
            type="password" 
            [(ngModel)]="user.passwd" 
            #passwd="ngModel" 
            required minlength="6" />
        <span *ngIf="passwd.errors?.required && passwd.dirty">
            パスワードは必須です
        </span>
        <span *ngIf="passwd.errors?.minlength">
            パスワードは６文字以上で入力してください
        </span>
    </div>

    <div>
        <label for="name">漢字：</label><br />
        <input 
            id="name" 
            name="name" 
            type="text" 
            [(ngModel)]="user.name" 
            #name="ngModel" 
            required minlength="3" maxlength="10" />
        <span *ngIf="name.errors?.required">
            名前（漢字）は必須です
        </span>
        <span *ngIf="name.errors?.minlength">
            名前（漢字）は3文字以上で入力してください
        </span>
        <span *ngIf="name.errors?.maxlength">
            名前（漢字）は10文字以内で入力してください
        </span>
    </div>

    <div>
        <label for="memo">備考：</label><br />
        <textarea 
            id="memo" 
            name="memo" 
            [(ngModel)]="user.memo" 
            #memo="ngModel" 
            rows="5" 
            cols="30"
            maxlength="10">
        </textarea>
        <span *ngIf="memo.errors?.maxlength">
            備考は10文字以内で入力してください
        </span>
    </div>

    <div>
        <input type="submit" value="送信" [disabled]="myForm.invalid" />
        <input type="submit" value="サブミット済み送信" [disabled]="myForm.invalid || myForm.submitted" />
        <input type="reset" value="pristineリセット" [disabled]="myForm.pristine">
        <input type="reset" value="dirtyリセット" [disabled]="myForm.dirty">
    </div>
    <pre>{{myForm.value | json}}</pre>
</form>

<form #myRadioForm="ngForm">
    <ng-container *ngFor="let item of data; index as i">
        <label>
            <input type="radio" name="animal"
                [(ngModel)]="selectItem"
                [value]="item.value"
                [checked]="selectItem == item.value"
                (change)="showRadio(i)"
            >{{item.label}}
        </label><br />
    </ng-container>
</form>

<form #myCheckForm="ngForm">
    <ng-container *ngFor="let item of data; index as i">
        <label>
            <input type="checkbox" name="aaaaaaaa{{i}}"
                [(ngModel)]="data[i].selected"
                [value]="item.value"
                (change)="showCheck()"
            >{{item.label}}
        </label><br />
    </ng-container>
</form>

<form #mySelectForm="ngForm">
<!--<select name="animal"-->
    <select name="animal"
    [(ngModel)]="selectOptItem"
    (change)="showSelect()">
        <option value="">ペットを選択してください</option>
        <option *ngFor="let item of data; index as i"
            [value]="item.value"
            [disabled]="item.value === selectOptItem"
            [selected]="item.value === selectOptItem">
            {{item.label}}
        </option>
    </select>
</form>

<form #selectGroupForm="ngForm">
    <select name="animalG" 
        [(ngModel)]="selectOptGroupItem"
        (change)="showGroupSelect()">
        <option value="">ペットを選択してください</option>
        <optgroup *ngFor="let group of keys(dataGroup)" label="{{group}}">
            <option *ngFor="let item of dataGroup[group]"
                [value]="item.value"
                [disabled]="item.value === selectOptGroupItem"
                [selected]="item.value === selectOptGroupItem">
                {{item.label}}
            </option>
        </optgroup>
    </select>
</form>

<form>
    <textarea cols="70" rows="5" name="tweet"
        [(ngModel)]="tweet" 
        (input)="selector()">
    </textarea>
    <div [ngStyle]="myStyle">{{count}}</div>
</form> 

<form>
    <label for="mail">メールアドレス：</label>
    <textarea id="mail" name="mail" type="text"
        [ngModel]="emails.join(';')"
        (ngModelChange)="emails=$event.split(';')">
    </textarea>
</form>
<ul>
    <li *ngFor="let emailAddress of emails">{{emailAddress}}</li>
</ul>

<form>
    <input id="upFile" name="upFile" type="file" #fi accept="image/*"
        (change)="upload(fi.files)" />
</form>

<form [formGroup]="myGroupForm" (ngSubmit)="showGroup()">
    <div>
        <label for="mail">メールアドレス：</label><br />
        <input 
            id="mail" 
            name="mail" 
            type="email" 
            formControlName="mail"
        />
        <span *ngIf="mail.errors?.required">
            メールアドレスは必須です
        </span>
        <span *ngIf="mail.errors?.email">
            メールアドレスを正しい形式で入力してください
        </span>
    </div>

    <div>
        <label for="passwd">パスワード：</label><br />
        <input 
            id="passwd" 
            name="passwd" 
            type="password" 
            formControlName="passwd"
         />
        <span *ngIf="passwd.errors?.required && passwd.dirty">
            パスワードは必須です
        </span>
        <span *ngIf="passwd.errors?.minlength">
            パスワードは６文字以上で入力してください
        </span>
    </div>

    <div>
        <label for="name">漢字：</label><br />
        <input 
            id="name" 
            name="name" 
            type="text" 
            formControlName="name"
        />
        <span *ngIf="name.errors?.required">
            名前（漢字）は必須です
        </span>
        <span *ngIf="name.errors?.minlength">
            名前（漢字）は3文字以上で入力してください
        </span>
        <span *ngIf="name.errors?.maxlength">
            名前（漢字）は10文字以内で入力してください
        </span>
    </div>

    <div>
        <label for="memo">備考：</label><br />
        <textarea 
            id="memo" 
            name="memo" 
            rows="5" 
            cols="30"
            formControlName="memo"    
        >
        </textarea>>
        <span *ngIf="memo.errors?.maxlength">
            備考は10文字以内で入力してください
        </span>
    </div>
    <div>
        <input type="submit" value="送信" [disabled]="myGroupForm.invalid" />
    </div>
    <pre>{{myGroupForm.value | json}}</pre>
</form>