<h1>第４章！！！ </h1>
<P>元の文字列:{{title}}</P>
<P>upperCase:{{title | uppercase}}</P>
<P>lowerCase:{{title | lowercase}}</P>
<P>titleCase:{{title | titlecase}}</P>

<pre>{{obj | json}}</pre>

<ul>
  <li>{{str}}</li>
  <li>{{str | slice: 3}}</li>

</ul>

<ul>
  <li>{{str2}}</li>
  <li>{{str2 | slice: 3}}</li>

</ul>
<ul>
  <li>{{price}}</li>
  <li>{{price | number}}</li>
  <li>{{price | number: '5.2-2'}}</li>
  <li>{{price | number: '1.0-0'}}</li>
</ul>

<ul>
  <li>デフォルト：{{price | currency }}</li>
  <li>コード：{{price | currency: 'JPY'}}</li>
  <li>単位（円）：{{price | currency: 'JPY': true}}</li>
  <li>単位（ユーロ）：{{price | currency: 'EUR': true}}</li>
  <li>桁数指定：{{price | currency: 'JPY': true: '1.0-1'}}</li>
</ul>

<ul>
  <li>デフォルト：{{num | percent }}</li>
  <li>小数第１位：{{num | percent: '1.0-1'}}</li>
</ul>

<ul>
  <li>整形なし：{{current}}</li>
  <li>整形あり（デフォルト）：{{current | date }}</li>
  <li>整形あり（medium）：{{current | date: 'medium' }}</li>
</ul>

<div>{{ favs.length | i18nPlural: messages}}</div>

<ul>
  <li *ngFor="let m of members">
    {{m.sex | i18nSelect: messages2}} は {{m.name2}} です
  </li>
</ul>

<form>
  <label for="show">表示／非表示</label>
  <input id="show" name="show" type="checkbox" [(ngModel)]="show" />
</form>
<div *ngIf="show" >
  <p>WINGSプロジェクトは、...</p>
</div>
<div [style.display]="show ? 'inline' : 'none'" >
  <p>WINGSプロジェクトは、...</p>
</div>

<form>
  <label for="show2">表示／非表示</label>
  <input id="show2" name="show2" type="checkbox" [(ngModel)]="show2" />
</form>
<div *ngIf="show2; else elseContent">
  <p>WINGSプロジェクトは、...</p>
</div>
<ng-template #elseContent>
  <h3 style="color:red">非表示中です</h3>
</ng-template>

<form>
  <label for="show3">表示／非表示</label>
  <input id="show3" name="show3" type="checkbox" [(ngModel)]="show3" />
</form>
<div *ngIf="show3; then trueConCon else elseConCon">
  <p>WINGSプロジェクトは、...</p> <!-- 無視される -->
</div>
<ng-template #trueConCon>
  <h3 style="color:red">true concon</h3>
</ng-template>
<ng-template #elseConCon>
  <h3 style="color:red">else concon</h3>
</ng-template>

<form>
  <select name="season" [(ngModel)]="season">
    <option value="">四季を選択</option>
    <option value="spring">春</option>
    <option value="summer">夏</option>
    <option value="autumn">秋</option>
    <option value="winter">冬</option>
  </select>
</form>
<div [ngSwitch]="season">
  <span *ngSwitchCase="'spring'">春春</span>
  <span *ngSwitchCase="'summer'">夏夏</span>
  <span *ngSwitchCase="'autumn'">飽き飽き</span>
  <span *ngSwitchCase="'winter'">ふゆふゆ</span>
  <span *ngSwitchDefault>defo</span>
</div>

<table class="table">
  <tr>
    <th>ISBNコード</th><th>署名</th><th>価格</th><th>出版社</th>
  </tr>
  <tr *ngFor="let b of books">
    <td>{{b.isbn}}</td>
    <td>{{b.title}}</td>
    <td>{{b.price}}</td>
    <td>{{b.publisher}}</td>
  </tr>
</table>

<table class="table">
  <tr>
    <th>値</th><th>index</th><th>first</th><th>last</th><th>odd</th><th>even</th>
  </tr>
  <tr *ngFor="
    let obj of data; 
    index as i; 
    first as fir; 
    last as la; 
    odd as o; 
    even as e">
    <td>{{obj}}</td>
    <td>{{i}}</td>
    <td>{{fir ? '○' : '×'}}</td>
    <td>{{la ? '○' : '×'}}</td>
    <td>{{o ? '○' : '×'}}</td>
    <td>{{e ? '○' : '×'}}</td>
  </tr>
</table>

<ng-container *ngFor="let article of articles">
  <header>{{article.title}}</header>
  <div>{{article.body}}</div>
  <footer ng-repeat-end>({{article.author}})</footer>
</ng-container>
<!--test-->